.card-parent {
  position: relative;
}

.wishlist-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: aliceblue;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  border: none;
}

.discount-tag {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: aliceblue;
  /* width: 30px;
  height: 30px; */
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
}

.star {
  background-clip: text;
  -webkit-background-clip: text;
}